<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ForGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D5FFA811BBEA5A500491DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D5FFA9A1BBEA5A500491DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D5FFAA51BBEA5A600491DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
